// ==============================
// Custom style
// ==============================
//  Also You can override the variables in variable.styl to customize the style
@font-face
  font-family 'GmarketSansBold'
  src url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
  font-weight normal
  font-style normal
  unicode-range U+AC00-D7AF

h1, h2, h3, h4, h5, h6, .nickname
  font-family 'GmarketSansBold', 'Exo', Arial, Helvetica, sans-serif
  font-weight normal

.slogan
  font-family 'Exo', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  font-style italic
  text-align center
