/* Ayu from https://github.com/ayu-theme/ayu-colors */
.highlight
  background: #0a0e14
  color: #b3b1ad

  .code
    .comment, .quote
      color: #626a73

    .variable, .template-variable, .attribute, .link, .tag, .name, .selector-id, .selector-class
      color: #e6b450

    .regexp
      color: #95e6cb

    .meta, .built_in, .builtin-name, .literal, .type, .params
      color: #f07178

    .number
      color: #ffb454

    .string
      color: #c2d94c

    .symbol .bullet
      color: #f29668

    .title, .section
      color: #59c2ff

    .keyword, .selector-tag
      color: #ff8f40

    .deletion, .addition
      display: inline-block
      width: 100%
      color: #0a0e14

    .deletion
      background-color: #d96c75

    .addition
      background-color: #91b362

    .emphasis
      font-style: italic

    .strong
      font-weight: bold
